* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(58, 58, 58, 0.863);
  background: linear-gradient(to right bottom, rgba(58, 58, 58, 0.863), rgba(31, 31, 31, 0.932));
  background-attachment: fixed;
}

.main-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.list {
  margin: 10% auto 10px auto;
  padding: 3%;
  border-radius: 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background: rgba(80, 160, 206, 0.336);
  background: linear-gradient(to right bottom, rgba(80, 160, 206, 0.288), rgba(80, 160, 206, 0.795));
  box-shadow: 5px 5px 15px;
  backdrop-filter: blur(8px);
}

.inputdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
} p {
  margin-bottom: 0.2rem;
} input {
  margin-bottom: 0.65rem;
}

table {
  border: solid 2px;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
} th {
  margin: 1% ;
  background: rgba(255, 255, 255, 0.541);
}

nav {
  width: 100px;
  height: 50px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 100px;
  height: 50px;

} li {
  display: flex;
  align-items: center;
    justify-content: center;
  width: 100px;
  height: 50px;

} a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: 10px;
  background-color: azure;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  box-shadow: 3px 3px 8px;
}